<div class="text-center">
    <h1>IdentityServer</h1>
    <div>
        <a href="~/.well-known/openid-configuration">Discovery Document</a>
    </div>
    <div>
        <a href="~/grants">Grants</a>
    </div>
</div>
